target/
debug/
release/
Cargo.lock

.idea/
.vscode/
*.iml

**/target/
**/debug/
**/release/
**/*.rs.bk
**/*.swp
**/*.swo

/tests/**/*.log
/tests/**/*.stderr
/tests/**/*.stdout

/.cargo/
/.cargo/

**/node_modules/
.DS_Store
Thumbs.db
