name: test

on:
  pull_request:

permissions:
  contents: read

jobs:
  pytest:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - name: Cache Rust dependencies
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: pyrxing
          key: test-${{ runner.os }}-x86_64
      - name: copy README
        run: |
          cp README.md pyrxing/README.md
      - name: Build wheels
        uses: PyO3/maturin-action@v1
        env:
          CXXFLAGS: "-std=c++20"
        with:
          working-directory: pyrxing
          target: x86_64
          args: --out dist
          sccache: true
      - name: install requirements
        run: |
          find pyrxing/dist -name '*.whl' | xargs pip install
          cd pyrxing && pip install -r requirements.txt
          pytest
